html,body{
            margin:0px;padding:0px;
            font-size:14px;
            font-family: "Microsoft Yahei",arial,tahoma,\5b8b\4f53;
            background:#fff;
         }
         p{margin:0px;}
         a{color:#ff4400;cursor:pointer;text-decoration: none;}
         a:hover .title{
            color:#e54724;
         }
         .main{
           width:250px;
         }
         .tab-mod .page,.tab-mod .line{
            height:100%;
            width:1105px;

         }
         .tab-mod .mod{
             width:167px;
      
         }
         .menu-wrapper{
            height: 44px;
            line-height: 44px;
            overflow:hidden;
           
            
           
         }
         .tab-menu{
              border-bottom:1px solid #efefef;
         }
         .tab-menu ul,.tab-menu .menu{
              margin:0px;
              padding:0px;
              line-height:44px;
         }
         .tab-menu .menu{
             
             cursor: pointer;
             text-align:center;
             display:inline-block;
             font-size:15px;
             
         }
         .tab-menu .menu.on{
             color:#e54724;
             font-weight:bold;
             border-bottom: 3px solid #e54724;
             line-height:42px;
             overflow: hidden;
             
         }
         .tab-menu.flex ul{
                 display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flex;
                display: -o-flex;
                display: flex;
                justify-content: space-between;
               
         }
         .tab-mod{
             display:none;
         }
         .tab-mod.on{
             display:block;
         }
         .switch-list{
             width:10%;
             float:right;
             text-align:right;
         }
         .thumb-switch{
               
                display:none;
                cursor: pointer;
         }
         .thumb-switch.on{
               display:inline;
         }
         .thumb-switch{
              font-size:12px;
              border:1px solid #e54724;
              font-weight:normal;
              height:18px;
              line-height:18px;
              padding:0px 6px;
               margin-top: 14px;
              color:#e54724;
         }

         .module-title{
            font-size:15px;
            color:#e54724;
            height: 46px;
            line-height: 46px;
            border-bottom:1px solid #efefef;
             text-align:right;
             margin:0px;
         }
         .module-title span{
            float:left;
         }
         
         .logo{
            overflow:hidden;
            margin-bottom:5px;

         }
         .logo img{
              width:100%;
              display:block;
         }

         .tab-mod{margin:0px auto;width:100%;}
         
         .tab-mod{
           
            height: 380px;
            overflow:hidden;
            
            -webkit-transition:all .5s ease-in-out;
            -moz-transition:all .5s ease-in-out;
            -o-transition:all .5s ease-in-out;
            -ms-transition:all .5s ease-in-out;
            transition:all .5s ease-in-out;
            

         }
         

         .tab-mod .mod{
             display:inline-block;
             
             height:100%;
             overflow:hidden;
             
             position:relative;
             vertical-align:middle;
            
             
              /*border-left:1px solid #eee;
              -webit-box-sizing:border-box;
            -moz-box-sizing:border-box;
            -o-box-sizing:border-box;
            -ms-box-sizing:border-box;
            box-sizing:border-box;*/
            color:#333;
         }
         .tab-mod .mod a{
              display:block;
          }


        /* #thumb-list a:before{
            position:absolute;
            top:0px;
            left:0px;
            width:100%;
            height:100%;
            content:" ";
            display:block;
            background:rgba(255,255,255,0.8);
            -webit-box-sizing:border-box;
            -moz-box-sizing:border-box;
            -o-box-sizing:border-box;
            -ms-box-sizing:border-box;
            box-sizing:border-box;
         }*/
         .tab-mod .line{
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            justify-content: space-between;

         }
         

         .tab-mod .cover img{
             display:inline-block;
             width:110px;
             height:110px;

         }
         .tab-mod .title{
            
            text-align:left;
            
            overflow:hidden;
            line-height: 16px;
            color:#333;
            /*white-space: nowrap;
            text-overflow:ellipsis;*/
            margin:2px 0px;

          }
          .tab-mod .title:hover{
              color:#e54724;
          }
          .tab-mod .extra .price{
             
              float:left;
              font-size:14px;
              font-weight:bold;
              color:#ab3035;
           }
           .tab-mod .extra .sale{
               font-size:12px;
               color:#777779;
               display:none;
           }
          .tab-mod .mod .extra{
               overflow:hidden;
               
               line-height:18px;
               margin-top:10px;
           }
           .tab-mod .mod .extra del{
               margin-left:5px;
               color:#96a0b4;
               font-size:12px;
           }
           .tab-mod .mod .extra a{
              display: inline-block;
           }
           .tab-mod .mod .extra .coupon{
                /*background:#e54724;
                color:#fff;*/
                height:18px;

                color:#e54724;
                line-height:18px;
                
                font-size:13px;
                border-radius:2px;
                padding:0px 3px;
                    border: 1px solid #e54724;
                    float: right;

           }
            .tab-mod .mod .coupon,.tab-mod .mod .price{
                  float:left;
            }
           
           

         .mark{
             position:absolute;
             bottom:0px;
             right:0px;
             font-size:12px;
             color:#aaa;
             cursor:pointer;
         }
         .scroll-wrapper{
             overflow:hidden;
             position:relative;
             height:380px;
         }
         .scroll-wrapper .dot-list{
            text-align:center;
         }
         .scroll-wrapper .dot-list .dot{
             width:6px;
             height:6px;
             background:#e8e8e8;
             border-radius:3px;
             display:inline-block;
             margin-left:10px;
         }
         .scroll-wrapper .dot-list .dot:first-of-type{
             margin-left:0px;
         }
         .scroll-wrapper .dot-list .dot.on{
             background:#a0a0a0;
             width:14px;
         }
         .scroll-wrapper,.scroller .page{
            width:250px;
           
          }
          .scroller .page,.scroller{
              height:350px;
          }
          .scroller{
             width:2000px;
             
          }
          
          .scroller .page{float:left;}
          .scroller  .page .inner-mod{
              float:left;
              margin-left:20px;
              width:114px;
              height:150px;
              overflow:hidden;
              margin-top:20px;
          }
           .scroller  .page .inner-mod:nth-of-type(2n+1){
              margin-left:0px;
           }
          .scroller .page .first{margin-left:2px;}
         
          .page .cover img{
             display:block;
             width:100%;
             height:114px;
          }
          .page .title{
              white-space: nowrap;
              text-overflow:ellipsis;
              font-size:14px;
              margin-top:5px;
          }
          .page .price{
              font-size:12px;
              color:#e54724;
          }