body,
html {
    background: #b9e6ec;
}
.th-side-bg {
    background: url("../../img/skin/cloud/theme.jpg") center -50px no-repeat;
}
.th-side-bg p {
    background: transparent;
}
body,
html {
    background: #b9e6ec;
}
.header .fright,
.header .fright a {
    color: #fff;
}
.header .fleft .btn-weather-pop,
.header .fleft .btn-weather-pop a {
    color: #b9e6eb;
}
.footer {
    color: #b9e6eb;
}
.footer a {
    color: #fff;
}
.tab-menu li.on,
.tab-menu li.on a,
.tab-menu-more,
.tab-menu-more a,
.search-engine .middle .engine-menu .on {
    color: #18a7b7;
}
.search-engine .middle .engine-menu,
.search-engine .middle .engine-menu span,
.search-engine .middle .engine-menu a {
    color: #5b6475;
}
.search-engine .right .line {
    color: #777779;
}
.search-engine .right .line a {
    color: #777779;
}
.header .fright .mod p {
    border-color: #fff !important;
}
.search-engine .engine-action .engine-key-wrapper,
.tab-menu,
.tab-menu li.on span {
    border-color: #18a7b7;
}
.main-news .news-hot .hot-mod .hot-bottom-list li,
.main-travel .travel-price-list .price-right .pr-top,
.main-news .fashion-news .fashion-img,
.main-news .fashion-images {
    border-color: #88ccd5;
}
.tab-menu li.on {
    border-color: #18a7b7;
}
.search-engine {
    border-color: transparent;
}
.menu-navigator-fixed .mrec {
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}
.header .fleft .logo-firefox .bottom {
    background-position: 0 -15px;
}
.header {
    background: #18a7b7;
}
.footer {
    background: #18a7b7;
}
.search-engine {
    background: transparent;
}
.search-engine .engine-action .btn-engine-bg,
.header-system .system-mod .mod-action .btn-confirm,
.main-site-manage .sm-custom .btn-site-confirm,
.email-show-pop .e-line .email-login,
.header .fleft .weather-info-set .btn-confirm {
    background: #18a7b7;
}

#header .left .logo a i {
    background-position: 0 -14px;
}
#header {
    background: #18a7b7;
}
